<!DOCTYPE html>
<html ng-app="gameTool">
<head>
    <title>用户自定义</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../js/framework/bootstrap/3.0.2/bootstrap.min.css">

</head>
<body ng-controller="gameInitCtrl">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                <span ng-bind="gameConfig.name"></span>
                <a class="btn  btn-danger pull-right" ng-href="introduce/{{gameConfig.gameid}}.html">介绍</a>
            </h2>
            <p ng-bind="gameConfig.rule.foreword"></p>
        </div>
    </div>
</div>
<!--
 item1
    role [    ]
    card [    ]
 item2
    role [    ]
    card [    ]
-->
<div class="roleChooser container">
    <form class="form-horizontal" role="form" name="roleChooserForm">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">总人数</h3></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="hidPeopleNum" class="col-xs-3 control-label">人数</label>

                    <div class="col-xs-9">
                        <select class="form-control" ng-model='peopleNum'
                                ng-options="num for num in gameConfig.peopleNumList">
                        </select>
                        <input id="hidPeopleNum" type="hidden" value="{{peopleNum}}">
                        <input type="hidden" required="required" class="form-control" name='maxPeople'
                               value="{{gameConfig.playerNumDefault}}">
                                                   <!--ng-onchange="{{gameChange(peopleNum)}}"-->

                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel-default" ng-repeat="role in gameConfig.gcRoles">
            <div class="panel-heading" ng-bind="role|convent"></div>
            <div class='panel-body' ng-repeat="properties in gameConfig.roleProperties">
                <div class="form-group" ng-if="properties == 'role' ">
                    <label  class="col-xs-3 control-label">人数</label>
                    <div class="col-xs-9">
                        <input type="number" name="{{role}}" ng-if="properties == 'role' "
                               class="form-control roleItem roleNum" min="0" max="100" value="{{role|showInit:peopleNum}}"/>
                    </div>
                </div>

                <div class="form-group" ng-if="properties != 'role' ">
                    <label class="col-xs-3 control-label" ng-bind="properties|convent"></label>
                    <div class="col-xs-9">
                        <input type="text" name="{{role}}<-->{{properties}}" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <audio id="buttonAudio" src="../media/click.WAV" controls="controls" hidden="hidden"></audio>
    <div>
        <a class="btn btn-danger" ng-href="list.html">返回列表</a>
        <a id="startButton" style="display: none"  ng-href="gamePlay.html?gameid={{gameConfig.gameid}}"  ng-click="gameInit()">开始游戏</a>
        <a id="fakeButton" class="btn btn-success pull-right">开始游戏</a>
    </div>
</div>
<script type="text/javascript" src="../js/framework/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/framework/angular/1.2.9/angular.js"></script>
<script src="../js/framework/bootstrap/3.0.2/bootstrap.min.js"></script>
<script src="../js/framework/box/bootbox.min.js"></script>
<script src="../js/game/config.js"></script>
<script src="../js/util/common_util.js"></script>
<script src="../js/game/dataService.js"></script>
<script src="../js/game/game.js"></script>
<script src="../js/game/domCtrl.js"></script>
</body>
</html>