<!DOCTYPE html>
<html ng-app="gameTool">
<head>
    <title>用户自定义</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../js/framework/bootstrap/3.0.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper/idangerous.swiper.css">
    <style>
        .prevRole {
            background-color: #e3e3e3;
        }

        .currentRole {
            background-color: #5cb85c;
        }

        .nextRole {
            background-color: #d43f3a;
        }

        .currentRole, .nextRole {
            color: #ffffff;
        }
    </style>
</head>
<body ng-controller="gamePlayCtrl">
<div class="container">
    <div class="role clearfix">
        <div class="col-md-12 column">
            <h2>
                <span ng-bind="gameConfig.name"></span>
                <a class="btn btn-danger pull-right" ng-href="gameInit.html?gameid={{gameConfig.gameid}}"
                   ng-click="gameExit()">结束游戏</a>
            </h2>
        </div>
    </div>
    <p>总人数<span ng-bind="gameConfig.playerNum"></span>(<span ng-repeat="role in gameConfig.roles">【<span
            ng-bind="gameConfig.rolesName[$index]|convent"></span>:<span ng-bind="gameConfig.roles[gameConfig.rolesName[$index]].num"></span>】</span>)</p>
    <hr>
    <div class="row">
        <div class="col-xs-4" >
            <span ng-hide="currentId <= 1 " class="label label-default pull-left prevRole" ng-bind="currentId-1">1</span>
            <span ng-show="currentId <= 1 " class="label label-default pull-left prevRole">开始</span>
        </div>
        <div class="col-xs-4" ng-hide="currentId >= gameConfig.playerNum+1">
            <span class="label label-default pull-left currentRole" ng-bind="currentId">1</span>
        </div>
        <div class="col-xs-4" >
            <span  ng-hide="currentId >= gameConfig.playerNum " class="label label-default pull-left nextRole" ng-bind="currentId+1">1</span>
            <span  ng-show=" currentId >= gameConfig.playerNum" class="label label-default pull-left nextRole">结束</span>
        </div>
    </div>
    <hr>
    <div class="row container">
        <div ng-show="currentId <= gameConfig.playerNum" class="col-offset-6">
            <button id='showRoleButton' class="btn btn-warning " ng-click="showCurrentGamer()">查看身份</button>
            <div class="row container">
                <hr>
                <div class="panel panel-primary" ng-if="flag">
                    <div class="panel-heading"><h3 class="panel-title"><span ng-bind="currentId"></span>号玩家的身份信息</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr ng-repeat="current in gameConfig.showProperties">
                                <td ng-bind="current|convent"></td>
                                <td><span class="text-danger" ng-bind="current|showCu:currentId|convent" ></span></td>
                            </tr>
                        </table>
                       角色提示:<span ng-bind="currentId|hint"></span>
                    </div>
                    <div class="panel-footer">
                        <h3 class="panel-title">* 请用自己的手机拍照,以记住身份信息.    点击擦掉身份,以免泄露
                        </h3>
                    </div>
                </div>
                <button id="eraserButton" class="btn btn-success disabled" ng-click="currentGamerEraser(currentId)">
                    擦掉身份
                </button>

            </div>
        </div>
        <div ng-show="currentId > gameConfig.playerNum">
            <a class="btn btn-default" ng-href="judgeScan.html?gameid={{gameConfig.gameid}}">
                        法官查看
            </a>
        </div>
            <audio id="buttonAudio" src="../media/click.WAV" controls="controls" hidden="hidden"></audio>
        </div>
    </div>
<script src="../js/framework/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/framework/angular/1.2.9/angular.js"></script>
<script src="../js/framework/bootstrap/3.0.2/bootstrap.min.js"></script>
<script src="../js/framework/swiper/idangerous.swiper-2.1.min.js"></script>
<script src="../js/game/config.js"></script>
<script src="../js/util/common_util.js"></script>
<script src="../js/game/dataService.js"></script>
<script src="../js/game/game.js"></script>
<script src="../js/game/domCtrl.js"></script>
</body>
</html>