<!DOCTYPE html>
<html ng-app="gameTool">
<head>
    <title>用户自定义</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../js/framework/bootstrap/3.0.2/bootstrap.min.css">
</head>
<body ng-controller="judgeScanCtrl">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                <span ng-bind="gameConfig.name"></span>
                <a class="btn btn-danger pull-right" ng-href="gameInit.html?gameid={{gameConfig.gameid}}" ng-click="gameExit()">重新开始</a>
            </h2>
            <p>总人数<span ng-bind="gameConfig.playerNum"></span>(<span ng-repeat="role in gameConfig.roles">【<span ng-bind="role.name|convent"></span>:<span ng-bind="role.num"></span>】</span>)</p>
            <div class="wrapTab">
                <ul class="nav nav-tabs" id="topTab">
                    <li class="active"><a href="#home" data-toggle="tab">游戏设置</a></li>
                    <li><a href="#userDefine" data-toggle="tab">玩家身份</a></li>
                    <li><a href="#judge" data-toggle="tab">法官日记</a></li>
                </ul>
            </div>
            <div class="tab-content" >
                <div class="tab-pane active" id="home">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                总人数
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6"><label>人数</label></div>
                                <div class="col-xs-6"><label ng-bind="gameConfig.playerNum"></label></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-repeat="role in gameConfig.propertiesList['roles']">
                        <div class="panel-heading">
                            <h3 class="panel-title" ng-bind="role.name|convent">

                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6"><label>人数</label></div>
                                <div class="col-xs-6"><label ng-bind="role.num"></label></div>
                            </div>
                            <div ng-repeat="x in gameConfig.showProperties">
                                <div class="row" ng-repeat="properties in gameConfig.propertiesList[x]">
                                    <div class="col-xs-6" ng-show="properties.role == role.name && !properties.num"><label ng-bind="x|convent"></label></div>
                                    <div class="col-xs-6" ng-show="properties.role == role.name && !properties.num"><label ng-bind="properties[x]|convent"></label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="userDefine">
                    <table class="table text-center table-bordered">
                        <tr class="success">
                            <td>编号</td>
                            <td ng-repeat="item in gameConfig.showProperties" ng-bind="item|convent"></td>
                        </tr>
                        <tr ng-repeat="items in gameConfig.roleAssign">
                            <td ng-bind="$index+1">
                            </td>
                            <td ng-repeat="item in gameConfig.showProperties" ng-bind="items[item]|convent">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="judge">
                    <textarea class="form-control" rows="5">
                        第一天晚上:1号玩家死
                        第二天晚上:2号玩家死
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="roleList" >
    <audio id="buttonAudio" src="../media/click.WAV" controls="controls"  hidden="hidden"></audio>
</div>
<script type="text/javascript" src="../js/framework/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/framework/angular/1.2.9/angular.js"></script>
<script src="../js/framework/bootstrap/3.0.2/bootstrap.min.js"></script>
<script src="../js/game/config.js"></script>
<script src="../js/util/common_util.js"></script>
<script src="../js/game/dataService.js"></script>
<script src="../js/game/game.js"></script>
<script src="../js/game/domCtrl.js"></script>
</body>
</html>