<!DOCTYPE html>
<html ng-app="gameTool">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>index</title>

    <link rel="stylesheet" type="text/css" href="../js/framework/bootstrap/3.0.2/bootstrap.min.css">
    <!--    <link rel="stylesheet" type="text/css" href="../css/game/style.css">-->

</head>
<body ng-controller="gameModelList">
<!-- Nav tabs -->
<div class="container">
    <div class="wrapTab">
        <ul class="nav nav-tabs" id="topTab">
            <li class="active"><a href="#home" data-toggle="tab">游戏列表</a></li>
            <li><a href="#userDefine" data-toggle="tab">关于我们</a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="panel-group">
                <div class="panel panel-primary" ng-repeat="model in officialList">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#" data-toggle="collapse" data-parent="#accordion" ng-bind="model.title">
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class='list-group-item' ng-repeat="version in model.versions"><a
                                        ng-href="gameInit.html?gameid={{version.gameid}}" ng-bind="version.name"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="userDefine">
            <div class="row clearfix">
                <div class="col-md-12 column well">

                    <p> 葡萄藤专注于桌游领域,除了您正在使用的桌游精灵之外,还为桌游爱好者提供以下服务</p>
                    <ul>
                        <li>在线桌游 <a href="#" onclick="window.open('http://www.ptteng.com', '_system');">去看一下</a></li>
                        <li>桌游百科 <a href="#" onclick="window.open('http://wiki.ptteng.com', '_system');">去看一下</a></li>
                        <li>桌游论坛 <a a href="#" onclick="window.open('http://bbs.ptteng.com', '_system');">去看一下</a></li>
                        <li>桌游交流QQ群 290560933</li>
                        <li>桌游微信订阅号 ptteng-com</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/framework/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/framework/angular/1.2.9/angular.js"></script>
<script src="../js/framework/bootstrap/3.0.2/bootstrap.min.js"></script>
<script src="../js/game/config.js"></script>
<script src="../js/util/common_util.js"></script>
<script src="../js/game/dataService.js"></script>
<script src="../js/game/game.js"></script>
<script src="../js/game/domCtrl.js"></script>
</body>
</html>